/Ableton\ Project\ Info
/Grooves
/Templates
/Clips
/Icon?
/Samples
/Waveforms
/Defaults
/Lessons
/Sets
/Presets/*/
!/Presets/MIDI\ Effects/
!/Presets/Audio\ Effects/
!/Presets/Instruments/
/Presets/MIDI\ Effects/*
/Presets/Audio\ Effects/*
/Presets/Instruments/*
!/Presets/MIDI\ Effects/Max\ MIDI\ Effect/
!/Presets/Audio\ Effects/Max\ Audio\ Effect/
!/Presets/Instruments/Max\ Instrument/
/Presets/MIDI\ Effects/Max\ MIDI\ Effect/*
/Presets/Instruments/Max\ Instrument/*
/Presets/Audio Effects/Max Audio Effect/*
!/Presets/MIDI\ Effects/Max\ MIDI\ Effect/Parking\ Sun/
!/Presets/Instruments/Max\ Instrument/Parking\ Sun/
!/Presets/Audio Effects/Max Audio Effect/Parking\ Sun/
MaxLib/lib/3rdparty/CNMAT-Everything-OSX-MachO/
